<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ htmlWebpackPlugin.options.env.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="mobile-web-app-capable" content="yes">
  <!-- SEO -->
  <meta name="description" content="{{ htmlWebpackPlugin.options.env.description }}" data-react-helmet="true" />
  <meta name="keywords" content="{{ htmlWebpackPlugin.options.env.keywords }}" data-react-helmet="true" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="{{ htmlWebpackPlugin.options.env.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/images/og_image.jpg" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:site_name" content="{{ htmlWebpackPlugin.options.env.title }}" />
  <meta property="fb:app_id" content="{{ htmlWebpackPlugin.options.env.social.facebookAppId }}" />
  <!-- twitter  -->
  <meta name="twitter:card" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.env.title }}" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  
  <link rel="stylesheet" href="https://use.typekit.net/bro5hwc.css">
  <link rel="stylesheet" href="https://use.typekit.net/qow3iea.css">
  <link rel="stylesheet" href="https://use.typekit.net/nfr2whb.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{htmlWebpackPlugin.options.env.social.googleAnalyticId}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{htmlWebpackPlugin.options.env.social.googleAnalyticId}}');
  </script>
  <!-- End Google Analytics -->

  <!-- Custome user agent when loaded by iframe -->
  <script>
    if (window.self !== window.top) {
      const windowInfo = window.name !== '' && JSON.parse(window.name);
      const { name, ua } = windowInfo;

      if (window.navigator.userAgent !== ua) {
        const userAgentProp = { configurable: true, get: function () { return ua; } };
        try {
          Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
        } catch (e) {
          window.navigator = Object.create(navigator, {
            userAgent: userAgentProp
          });
        }
      }
    }
  </script>
  <!-- End custom user agent -->
</head>
<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '{{ htmlWebpackPlugin.options.env.social.facebookAppId }}',
        xfbml: true,
        version: 'v2.12'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.async = true;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0068/4833.js" async="async"></script>
  <div id="app"></div>
  <noscript>Your browser does not support JavaScript!</noscript>

</body>
</html>
